body
{
  background-color: rgb(9 42 90 / 95%);
}

.header a, a:hover
{
  text-decoration: none;
}
.header h1
{
  letter-spacing: 12px;
  font-weight: 600;
  font-size: 320%;
}
.header p
{
  color: white !important;
  font-size: 90%;
  letter-spacing: 3px;
}

.well
{
  background-color: #222222;
}

.text-dis>p
{
  max-resolution: 3px;px;
  padding: 0;
}

textarea.form-control
{
  height: 140px;
  color: black;
}

.info-block
{
  text-align: center;
  letter-spacing: 0.7px;
}

.info-block>span
{
  color: black;
  background-color: white;
  font-size: 14px;
  margin:0 1% 0 1%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background-color:  rgb(21 52 98);
}

.nav-pills>li>a
{
    color: #fff;
}

.nav-pills>li>a:hover
{
  background-color: rgb(21 52 98);
}

.navbar-inverse
{
    padding: 14px;
}

.clear
{
  clear: both;
  height: 63px;
}

.wrapper
{
  min-height: 100%;
}

.film_block
{
  text-align: center;
}

.film_block img
{
	width:100%;
  height: 100%;
	border: 1px outset #c7c7c7;
  border-radius: 10px;
  background-color: white;
}

.carousel
{
  height: 350px;
  padding-top: 10px;
}

.item img
{
  width:100%;
  height: 100%;
	border: 1px outset #c7c7c7;

}

td.film_block>img
{
  width: 130px;
  height: 200px;
  margin: 6px;
}

table
{
  background-color: #222;
}

.table tbody>tr>td.vert-align
{
  vertical-align: middle;
}

tr>td.text-center
{
  vertical-align: center;
}

td>a
{
  color: inherit;
}

.img1
{
  margin:  6px 0;
}

.margin-8
{
  margin-top: 10%;
}

.btn
{
  background-color: #222;
  border-color:  rgb(0 34 83 / 95%);
  border-width: 3px;
}


input.form-control
{
  background-color: #222;
  border-color: white;
  border-width: 1px;
  color: white;
 }

.btn-lg
{
  border-color: white;
  border-width: 1px;
}

.list-group>li
{
  background-color: #222;
  color: white;
}

.list-group>li a
{
  color: white;
}

.list-group>li:hover
{
  background-color: #2c2c2c;
  text-decoration: none;
  font-weight: 600;
}

.badge
{
  background-color: green;
}

.med
{
  background-color: orange;
}

.hig
{
  background-color: #35be0e;
}

.panel button.btn-lg
{
  border-width: 1px;
}

.panel-body button.btn-primary
{
  border-width: 1px;
  border-color: white;
}

.panel-body>p
{
  color: white;
}

.glyphicon-log-in:before {
    content: "\e161";
    margin-right: 9px;
    margin-left: -3px;
}


.title>a:hover
{
  text-decoration: none;
}

h3>a
{
  color: white;
}

h3>a:hover
{
  color: #b4b1b1;
}

.h2-title
{
  font-weight: 600;
}

.text
{
  color: #b2b2b2;
  background-color: rgb(0 34 83 / 95%);
  padding: 10px;
  border-radius: 3px;
}

.panel
{
  border-color: white;
}

.panel-primary>.panel-heading
{
    color: #fff;
    background-color:  rgb(0 34 83 / 95%);
    border-color: white;
}

.panel-body
{
  background-color:#222222;
}

.form-control
{
  font-size: 14px;
}

.input-lg
{
  font-size: 14px;
}

.sidebar-header
{
  font-size: 120%;
  letter-spacing: 2px;
  font-weight: 600;
}

.rev-heading
{
  background-color: #222222;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

.rev-heading>span
{
  margin-right: 2%;
}

.well .btn
{
  background-color:rgb(21 52 98);
}

.rev-body
{
  background-color: white;
  color: black;
}

html, body
{
  height: 100%;
  color: white;
}

footer
{
  background-color: rgb(34 34 34);
  border: 1px solid rgb(8, 8, 8);
  padding: 17px 0 17px 0;
}

.text-center>a
{
  font-size: 17px;
  font-weight: bold;
}
.text-center
{
  margin-bottom: 0;
}

@media (max-width: 767px)
{
  .nav-pills>li
  {
    float: none;
  }

  td.film_block>img
  {
    width: 70px;
    height: 100px;
    margin: 6px;
  }

  .nav-pills>li
  {
    text-align: center;
  }

  .carousel
  {
    height: 550px;
    padding-top: 10px;
  }

  .header
  {
    letter-spacing: 5px;
    font-size: 99%;
    text-align: center;
  }

  .header h1
  {
    text-align: center;
  }
}

@media (min-width:395px) and (max-width:425px)
{
  .carousel
  {
    height:600px;
    padding-top: 10px;
  }

}

@media (min-width:426px) and (max-width:450px)
{
  .carousel
  {
    height:650px;
    padding-top: 10px;
  }

}

@media (min-width:769px) and (max-width:991px)
{
  .carousel
  {
    height: 250px;
    padding-top: 10px;
  }

}

@media (min-width:992px) and (max-width:1199px)
{
  .carousel
  {
    height: 300px;
    padding-top: 10px;
  }

}
